.About .portrait {
  width: 150px;
  float: right;
  margin-left: 10px;
  border-radius: 3%;
}

.description {
  max-width: 500px;
}

.description i {
  text-indent: 0;
}

.fab::before {
  padding-right: 3px;
}

@media only screen and (max-width: 420px) {
  .About .portrait {
    display: block;
    margin: 0 auto 15px;
    width: 50%;
    float: none;
  }
}
