.Header {
  height: 65px;
  position: relative;
  width: inherit;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #6daffe;
  color: #fff;
  box-shadow: 0 1px 5px -1px black;
}

.Header .titres {
  height: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .Header .titres {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .Header h1 {
    max-width: 135px;
    margin-right: 10px;
  }

  .Header h2 {
    margin: 0 auto;
  }
}
