html,
body,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

body {
  background-color: #fff;
  font-family: "Heebo", sans-serif;
  color: #424242;
}

h1,
h2 {
  font-family: "Lobster", cursive;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 0.8rem;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 15px;
  }

  p {
    font-size: 0.9rem;
  }
}
