html,
body,
#root {
  cursor: default;
}

html {
  font-size: 18px;
}

body {
  background-color: #fff;
  font-family: "Heebo", sans-serif;
  color: #424242;
  overflow: scroll;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 2.1rem;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 1.4rem;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  text-indent: 1.5rem;
  margin-bottom: 10px;
}

a,
a:visited,
a::before,
a.fab,
.fas::before,
a em {
  font-weight: 700;
  color: #437fc7;
  text-decoration: none;
}

a::before {
  font-weight: 400;
}
em {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 700;
  color: #b9732f;
}

::before,
.fab {
  color: #b9732f;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 15px;
  }
}
